<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <%- messages('messages',locals) %>

    <% if(errors){ %>
        <% errors.forEach(function(err){ %>
            <p class="alert alert-danger">
                <%= err.msg%>
            </p>
        <% }); %>
    <% } %>
</div>
    <form action="/register" method="post">
        <input type="text" placeholder="Username" name="username"><br><br>
        <input type="password" placeholder="Password" name="password"><br><br>
        <button type="submit">Register</button>
    </form>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>